/* Parent wrapper to center the container */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94vh;
  margin-top: 20px;
}

/* Main container */
.container {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  border: 1px solid rgb(65, 64, 64);
  /* justify-content: center; */
  align-items: center;
  border-radius: 5px;
  padding: 10px;
}

/* Button container */
